.ipynb_checkpoints
__pycache__
venv
data/jader/*.csv
data/target/*.csv

# output data
!data/target/count_years.csv
!data/target/count_side_effect.csv
!data/target/ror.csv
!data/target/drug_info.csv
!data/target/sex.csv
!data/target/age.csv